body {
	font-family: sans-serif;
	padding: 20px;
}

p {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

h2 {
	border-bottom: solid 2px #e52d19;
	padding-bottom: 20px;
	font-size: 40px;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 40px;
	font-size: 25px;
}

.character {
	display: inline-block;
	width: 150px;
	background-color: #f4facc;
	border: 2px solid #31b9cd;
	margin: 20px;
}
